<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="io.mapzone.ide"
            name="mapzone.io">
      </category>
      <wizard
            category="io.mapzone.ide"
            class="io.mapzone.ide.newproject.NewPluginProjectWizard2"
            icon="icons/newpprj_wiz.png"
            id="io.mapzone.ide.NewPluginProjectWizard2"
            name="Plug-in Project"
            project="true">
         <description>
            Creates a new plug-in project for mapzone.io
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="io.mapzone.ide.category1"
            name="mapzone.io">
      </category>
      <wizard
            category="io.mapzone.ide.category1"
            class="io.mapzone.ide.exportproject.ExportPluginProjectWizard"
            id="io.mapzone.ide.wizard1"
            name="Export Plugin-in to project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="io.mapzone.ide.PeriodicGCJobStartup">
      </startup>
   </extension>
   <extension
         id="io.mapzone.ide.MapzoneNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="io.mapzone.ide.MapzoneProjectNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="io.mapzone.ide.MapzoneProjectPropertyPage"
            id="io.mapzone.ide.MapzoneProjectPropertyPage"
            name="mapzone.io">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="io.mapzone.ide.MapzoneNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=additions">
         <menu
               id="io.mapzone.main"
               label="mapzone.io">
            <command
                  commandId="io.mapzone.ide.command.updateTarget"
                  label="Update target platform (from instance)"
                  style="push">
               <parameter
                     name="io.mapzone.ide.parameter.targetSource"
                     value="instance">
               </parameter>
            </command>
            <command
                  commandId="io.mapzone.ide.command.updateTarget"
                  label="Update target platform (from jenkins)"
                  style="push">
               <parameter
                     name="io.mapzone.ide.parameter.targetSource"
                     value="jenkins">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="io.mapzone.ide.command.updateTarget"
            name="Update target platform">
         <commandParameter
               id="io.mapzone.ide.parameter.targetSource"
               name="name"
               optional="false">
            <values
                  class="io.mapzone.ide.UpdateTargetParameterValues">
            </values>
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="io.mapzone.ide.UpdateTargetHandler"
            commandId="io.mapzone.ide.command.updateTarget">
      </handler>
   </extension>

</plugin>
