<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.p4.data.importer.importers">
      <importer
            class="org.polymap.tutorial.osm.importer.OsmApiImporterFactory">
      </importer>
      <importer
            class="org.polymap.tutorial.osm.importer.OsmPbfFileImporterFactory">
      </importer>
      <importer
            class="org.polymap.tutorial.osm.importer.OsmXmlFileImporterFactory">
      </importer>
   </extension>

</plugin>
