<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.p4.data.importer.importers">
      <importer
            class="org.polymap.tutorial.osm.importer.api.OsmApiImporterFactory">
      </importer>
      <importer
            class="org.polymap.tutorial.osm.importer.pbf.OsmPbfFileImporterFactory">
      </importer>
      <importer
            class="org.polymap.tutorial.osm.importer.xml.OsmXmlFileImporterFactory">
      </importer>
   </extension>

</plugin>
